.App {
  text-align: center;
}



.App-header {
  background-color: #222;
  
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  background-color: #222;
  color: white;
  
}
.groceries-heading{
  width: 26%;
  height: 30px;
  position: relative;
  top: 50px;
  left:200px;
  
  text-align: left;
  
  padding-left: 5px ;
}
.sample{
  background-color: black;
  height: 20px;
  width:20px;
}

.basket-list{
  height: 30px ;
  position: relative;
  top: 30px;
}

.trash{
  position: relative;
  top: 20px;
  left:220px;
  color: lightsalmon;
}
.trash:hover{
  color: red;
}

.groceries{
   height: 30px ;
   
  position: relative;
    top: 50px;
    left:200px;
 
}
.set{
  width: 50%;
  float: left;

  
}


.basket{
  float:left;
  width: 50%;
  }
.basket-heading{
  width: 26%;
  height: 30px;
  position: relative;
  top: 50px;
  left:100px;
  
  text-align: left;
  
  padding-left: 5px ;
}

.basketremove
{
  text-decoration: line-through;
}

Footer {
  background-color: black;
  position: relative;
  top: 1000px;
}