.basket-block{
        width: 70%;
        height: 30px;
        margin: 0px;
        padding: 0px;
        position: relative;
        top: 0px;
        left:100px;
        background-color: lightgrey;
}
ul li {
        list-style: none;
       padding: 5px;
       text-align: left;
    }

.minus{
        color: lightgrey;
        background-color: white;
        position: relative;
        
        right: 20px;
      }
      .minus:hover{
        color: red;
      }