.search-box{
    border-radius: 10px;
    border: 2px solid #F8028F;
    padding: 20px;
    width :600px;
    height : 30px;
    position: relative;
    top: 20px;
    left: 400px;
    background-color: #F89FD2;
}
.search{
    width :300px;
    height : 30px;
    position: relative;
    bottom: 2px;
    right: 150px;
    background-color: white;
}