.shop-list-block{
    width: 70%;
    height: 30px;
    
    /* position: relative;
    top: 50px;
    left:200px; */
    background-color: lightgrey;
    
}

ul li {
    list-style: none;
   padding: 5px;
   text-align: left;
}


.plus1{
    color: lightgrey;
    background-color: white;
    position: relative;
    bottom: 0px;
    right: 30px;
  }
  .plus1:hover{
    color: green;
  }
